---
// filepath: /mnt/f/git/workers/world-dns-resolver/astro/pages/debug.astro
import DebugInfo from '../components/DebugInfo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
      <DebugInfo />
    </main>
</Layout>